<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div{
      display: grid;
      grid-template-columns: 100px 200px;
      grid-template-rows: 25px 25px 25px 25px 25px 150px 25px;
    }
  </style>
</head>
<body>
  <div>
    <label>Name: </label> <%= form.name %>
    <label>Email: </label> <%= form.email %>
    <label>Scale: </label> <%= form.scale %>
    <label>Place: </label> <%= form.place %>
    <label>Time: </label> <%= form.time %>
    <label>Feeling: </label>
    <ul>
      <% form.feeling.forEach(function(f){ %>
        <li><%= f %></li>
      <% }) %>
    </ul>
    <label>Description: </label> <%= form.description %>
  </div>
  <a href="/">Go back</a>
</body>
</html>